{% extends "../base.html" %}
{% load i18n %}
{% load mjml %}
{% load static %}

{% block content %}
{% mjml %}
<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text font-size="15px">
          {% blocktranslate with given_name=recipient.given_name %}
          Hello {{ given_name }},
          {% endblocktranslate %}
        </mj-text>
        <mj-text font-size="15px" line-height="20px">
          {% blocktranslate with project_title=project.title project_slug=project.slug full_name=by.get_full_name website_url=project.organizations.first.website_url %}
          {{ full_name }} added you to the team of project <a class="lpi-link" href="{{ website_url }}/projects/{{ project_slug }}/summary?fromNotification">{{ project_title }}</a>.
          {% endblocktranslate %}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        {% with project.organizations.all|first as organization %}
        <mj-button css-class="lpi-button" href="{{ organization.website_url }}/projects/{{ project.slug }}/summary?fromNotification">
          {% blocktranslate %}Go to project{% endblocktranslate %}
        </mj-button>
        {% endwith %}
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
{% endmjml %}
{% endblock %}
