# Ignore itself
Dockerfile
.dockerignore
docker-compose.yml

# Git stuff
.git/
.github/
.gitignore

# Docs
**/*.pdf
**/*.md

# Local .venv
.venv/

# Editors
.vscode/
.idea/

# Bytecode
**/*.pyc

# Static files
static/

# Dumps
dumps/

sops/
