{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" style="border: 1px solid #1d727c;border-radius: 50px;width: fit-content;padding: 11px;cursor: pointer;overflow: hidden;background: #1d727c;line-height: 18px;font-weight: 700;background: #1d727c;color: #ffffff !important;font-size: 1rem;margin: 10px auto 5px auto;">
                Import users
            </button>
        </form>
        <div style="border: 1px solid #1d727c;border-radius: 50px;width: fit-content;padding: 11px;cursor: pointer;overflow: hidden;background: #1d727c;line-height: 18px;font-weight: 700;background: #1d727c;color: #ffffff !important;font-size: 1rem;margin: 10px 0 5px 0;">
            <a style="color: #ffffff;" href="..">
                Back to users
            </a>
        </div>
    </div>
    <br />

{% endblock %}