{% load mjml %}
{% load i18n %}
{% load static %}

{% mjml %}
<mjml>
  <mj-head>
    <mj-font name="Ubuntu" href="https://fonts.google.com/specimen/Ubuntu"/>
    <mj-style inline="inline">
      .lpi-link {
        color: #1D727C;
        font-weight: 700;
      }
      .lpi-button {
        padding: 10px !important;
      }
      .lpi-button td {
        border: 1px solid #1d727c !important;
        border-radius: 50px !important;
        padding: 11px 1.5rem !important;
        cursor: pointer !important;
        overflow: hidden !important;
        background: #1d727c !important;
      }
      .lpi-button a {
        line-height: 18px !important;
        font-size: 1rem !important;
        font-weight: 700 !important;
        background: #1d727c !important;
        padding: 0px !important;
      }
    </mj-style>
    <mj-attributes>
      <mj-text font-family="Ubuntu, Arial" line-height="24px" font-size="16px"/>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-raw>
        <div style="display: flex;">
          {% if organization %}
            <img src="{{ public_url }}/v1/organization/{{ organization.code }}/logo/{{ organization.logo_image.id }}" alt="organization logo" style="width: auto; height: 50px;"/>
          {% endif %}
          <img src="{{ public_url }}{% static 'projects_logo.png' %}" alt="projects logo" style="width: auto; height: 50px; margin-left: auto"/>
        </div>
      </mj-raw>
    </mj-section>
    <mj-section>
      <mj-column>
        {% block content %}{% endblock %}
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-divider border-width="2px" align="center" border-color="black"/>
        <mj-text font-size="20px" font-weight="700" align="center" line-height="30px">
          {% blocktranslate %}
          Mentoring guide : advice for mentors and mentorees
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          Dear Mentors and Mentorees, 👩‍🏫👨‍🎓
          <br/>
          First of all, the Projects team would like to warmly congratulate you for embarking on your mentorship journey. It’s sure to be filled with exciting discoveries and achievements!
          {% endblocktranslate %}
        </mj-text>
        <mj-text font-size="18px" font-weight="700" line-height="30px">
          {% blocktranslate %}
          🌟 To get started
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          We encourage you to watch this video to learn more about the roles of both mentor and mentoree.
          {% endblocktranslate %}
        </mj-text>
        {% blocktrans %}
        <mj-button css-class="lpi-button" href="https://www.youtube.com/watch?v=T_iGnufU1kY">
          Watch video
        </mj-button>
        {% endblocktrans %}
        <mj-text>
          {% blocktranslate %}
          In brief : 
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          - <strong>A mentor</strong> serves as a supportive guide who <strong>listens attentively, asks thoughtful questions, and offers direction without dictating decisions.</strong> By fostering a trusting environment that promotes open communication, the mentor assists the mentoree in making progress.
          <br/>
          - <strong>For mentorees,</strong> it's crucial to clearly <strong>define your needs and goals</strong>. You are <strong>the primary agent of your own development</strong>, applying your mentor's guidance to achieve your objectives.
          {% endblocktranslate %}
        </mj-text>
        <mj-divider border-width="1px" align="center" border-color="#B7B7B7"/>
        <mj-text font-size="18px" font-weight="700" line-height="30px">
          {% blocktranslate %}
          📅 Mentoring structures :
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          Here are a few suggested structures for your mentoring sessions. Make them your own and adjust each meeting to suit the needs and availability of everyone involved.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          🔹 <strong>Single session</strong> : Ideal for a quick, one-hour boost. This could be for feedback on a project, help with an important decision, or specific advice.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          🔹 <strong>Three one-hour sessions</strong> : Great for diving deeper into a problem. Here’s a possible breakdown:
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
              - 👂 <strong>Session 1</strong> : Understand the issue and provide initial suggestions.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
              - 📚 <strong>Session 2</strong> : Share research and set clear goals.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
              - 🌟 <strong>Session 3</strong> : Review progress and adjust the approach.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          🔹 <strong>Year-long mentoring (2 hours/month)</strong> : Perfect for long-term guidance. A typical session might look like this:
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
              - 🏅 <strong>Progress review</strong> : Discuss achievements and new challenges.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
              - 🎯 <strong>Goals</strong> : Set 2-3 objectives to work on before the next session.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
              - 📖 <strong>Resources</strong> : Share helpful content (videos, articles, etc.) to explore between sessions.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
              - 🗓️ <strong>Next session</strong> : Schedule the upcoming meeting.
          {% endblocktranslate %}
        </mj-text>
        <mj-divider border-width="1px" align="center" border-color="#B7B7B7"/>
        <mj-text font-size="18px" font-weight="700" line-height="30px">
          {% blocktranslate %}
          ✅ Tips for successful mentoring :
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          📝 <strong>Prepare for each session :</strong> Think about the topics you want to discuss, goals you want to achieve, and any questions you have.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          🤝 <strong>Be open and honest :</strong> Building trust requires transparency.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          👂 <strong>Practice active listening :</strong> Ask questions and rephrase to confirm you’ve understood.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          🎯 <strong>Set clear goals</strong> after each session.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          📬 <strong>Share useful resources</strong> between meetings to enhance learning.
          {% endblocktranslate %}
        </mj-text>
        <mj-text>
          {% blocktranslate %}
          📆 <strong>Always schedule the next session</strong> to maintain progress.
          {% endblocktranslate %}
        </mj-text>
        <mj-divider border-width="1px" align="center" border-color="#B7B7B7"/>
        <mj-text>
          {% blocktranslate %}
          We hope these tips help you better navigate your mentorship experience ! Thank you all, and happy mentoring ✨
          <br/>
          Best regards,
          <br/>
          The Projects team
          {% endblocktranslate %}
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#1D727C">
      <mj-column>
        <mj-image width="100px" align="center" src="{{ public_url }}{% static 'LPI-sm.png' %}" alt="lpi logo"/>
        <mj-text align="center" color="white">
          {% blocktranslate %}
          Made with ❤️ by Learning Planet Institute.
          {% endblocktranslate %}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
{% endmjml %}
