{% extends "../base.html" %}
{% load i18n %}
{% load mjml %}
{% load static %}

{% block content %}
<mj-text font-size="24px" font-weight="700" align="center" line-height="30px" padding-bottom="20px">
    Confirm your email address to get started on the Projects portal of {{ organization.name }}.
</mj-text>
<mj-text>
    Once you have confirmed that <strong>{{ contact_email }}</strong> is your address, we'll help you get started on the platform.
</mj-text>
<mj-button css-class="lpi-button" href="{{ link.link }}">
    Confirm email address
</mj-button>
<mj-text>
    If you didn’t request this email, there is nothing to worry about, you can safely ignore it.
</mj-text>
<mj-text>
    Link expires on the {{ link.expiration_date }} at {{ link.expiration_time }}. <a class="lpi-link" href="{{ public_url }}/v1/user/{{ user.keycloak_id }}/refresh-keycloak-actions-link/?organization={{ organization.code }}&email_type={{ link.email_type }}">Click here</a> to request a new link.
</mj-text>
{% endblock %}
