{% extends "../notifications_base.html" %}
{% load i18n %}
{% load mjml %}
{% load static %}

{% block content %}
{% regroup notifications by project as projects %}
{% mjml %}
<mjml>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-text font-size="15px">
                    {% blocktranslate with given_name=recipient.given_name %}
                    Hello {{ given_name }},
                    {% endblocktranslate %}
                </mj-text>
                <mj-text font-size="15px" line-height="20px">
                    {% blocktranslate with project_title=project.title full_name=by.get_full_name %}
                    Here are your highlights for {{ dateOfTheDay }}
                    {% endblocktranslate %}
                </mj-text>
            </mj-column>
        </mj-section>
        {% for project in projects %}
        <mj-section>
            <mj-column>
                <mj-text font-size="18px" font-weight="bold" text-decoration="underline">
                    <a class="lpi-link" href="{{ project.grouper.organizations.first.website_url }}/projects/{{ project.grouper.slug }}/summary?fromNotification">
                        {% blocktranslate %}Project{% endblocktranslate %} <i>{{ project.grouper.title }}</i>
                    </a>
                </mj-text>
                <mj-text font-size="15px">
                    <ul>
                        {% for notification in project.list %}
                        <li style="padding:5px">{{ notification.reminder_message }}</li>
                        {% endfor %}
                    </ul>
                </mj-text>
                {% with project.grouper.organizations.first as organization %}
                <mj-button css-class="lpi-button" href="{{ organization.website_url }}/projects/{{ project.grouper.slug }}/summary?fromNotification">
                    {% blocktranslate %}Go to project{% endblocktranslate %}
                </mj-button>
                {% endwith %}
            </mj-column>
        </mj-section>
        {% endfor %}
  </mj-body>
</mjml>
{% endmjml %}
{% endblock %}
